.main-home {
    max-width: 1200px;
    margin:auto;
}

.main-home ul {
    width: 600px;
    margin:auto;
}

.li-post {
  text-decoration: none;
  list-style: none;
  border-bottom: 1px solid gray ;
  padding: 10px;
  margin-bottom: 10px;
  transition: 0.3s all ease;
}

.li-post:hover {
    background-color: #414252;
}

.li-post:first-child {
    margin-top: 40px;
}

.li-post a {
  color: #FCA510;
  text-decoration: none;
}


.li-post h4 {
    text-transform: uppercase;
    font-size: 18px;
}

.li-post p {
    font-size: 18px;
}

.button-to-top {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    position: fixed;
    left: 20px;
    bottom: 30px;
}

@media screen and (max-width: 680px) {
    .li-post h4 {
        font-size: 22px;
    }

    .li-post p {
        font-size: 20px;
    }
}
